.connect{
    text-align: center;
    /* background: rgb(21,0,36);
    background: linear-gradient(125deg, rgba(21,0,36,1) 0%, rgba(153,23,172,1) 43%, rgba(255,85,0,1) 100%); */
  }


.n-button {
    flex: 1;
    color: rgb(62, 26, 221);
    background: rgb(212, 170, 188);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(199,148,233,1) 100%);
    border-radius: 30px;
    border-color: antiquewhite;
}