.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin-top: 18vh;

}

.info-part2 {
  display: flex;
  flex-direction: column;
  margin: auto;


  color: #ebebeb
}

.info-part2>:nth-child(1) {
  background: rgb(105, 233, 205);
  background: linear-gradient(94deg, rgb(7, 104, 214) 1%, rgba(222, 57, 190, 1) 36%, rgba(199, 138, 26, 1) 70%);

  font-size: 45px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-part2>:nth-child(2) {
  font-size: 15px;
}

.info-part2>:nth-child(3) {
  font-size: 18px;
  color: #f5c32c;

}

.info-part2>:nth-child(4) {
  font-size: 12px;
  color: antiquewhite;

}

.info-part2>:nth-child(5) {
  font-size: 15px;
  color: #0ad9e0;
  padding-top: 1rem;

}

.info-part2>:nth-child(6) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  position: relative;
  font-size: 15px;
  color: antiquewhite;


}




.info-part3 {
  margin: auto;
  width: 100%;
  padding-top: 6rem;
  position: relative;

}

.info-right-diamond {
  display: flex;
  flex-wrap: wrap;
  transform: rotate(45deg);

}

.info-right-diamond-item {
  height: 180px;
  width: 180px;
  overflow: hidden;
  transform: rotate(-45deg);

  cursor: pointer;

}

.info-right-diamond-item img {
  
  object-fit: contain;
  display: block;
  border: 2px solid rgb(4, 188, 212);
  border-radius: 2rem;
  -webkit-border-radius: 2 rem;
  -moz-border-radius: 2 rem;
  -ms-border-radius: 2 rem;
  -o-border-radius: 2 rem;
}

.info-right-bg {
  height: 550px;
  width: 800px;
  background-color: rgb(7, 153, 158);
  filter: blur(180.58px);
  position: absolute;
  z-index: -99;
  left: 200px;
  top: 0%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-filter: blur(180.58px);
}


/* right side */
/* .w-right {
  padding-right: 0;
}

.w-mainCircle {
  left: 9rem;
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  top: 2rem;
  background: white;

  z-index: 2;
}

.w-mainCircle>* {
  position: absolute;
}

.w-mainCircle> :nth-child(1) {
  top: -3rem;
  left: 6rem;
}

.w-mainCircle> :nth-child(2) {
  left: -3rem;
  top: 5rem;
}

.w-mainCircle> :nth-child(3) {
  left: 6rem;
  top: 5rem;
}

.w-mainCircle> :nth-child(4) {
  left: 15rem;
  top: 5rem;
}

.w-mainCircle> :nth-child(5) {
  left: 6rem;
  top: 13rem;
}

.w-secCircle {
  width: 6rem;
  height: 6rem;
  position: absolute;
  border-radius: 100%;
  border: 5px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: "none";
  box-shadow: var(--smboxShadow);
  background: white;
}

.w-secCircle>img {
  transform: scale(0.6);
}

.w-backCircle {
  position: absolute;
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  
  z-index: 1;
}

.blueCircle {
  background: #1949b8;
  left: 18rem;
  top: 0rem;
}

.yellowCircle {
  background: #f5c32c;
  left: 18rem;
  top: 8rem;
}

@media screen and (max-width: 480px) {
  .works {
    flex-direction: column;
    height: 55rem;
    padding: 0;
    gap: 5rem;
  }

  .w-right {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    transform: scale(0.7);
  }

  .w-mainCircle {
    position: static;
  }

  .w-backCircle {
    left: 8rem !important;
  }

} */