.w-32{
  width: 7rem;
  
  
  
}
.div-m {
  position: relative;
  width:10vh;
  margin-right: 3rem;

}
.image {
 width: 100%;
 height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay-m {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
  cursor: pointer;
  
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.div-m:hover .overlay-m {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text-icon{
  color: rgb(255, 255, 255);
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.n-wrapper {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  top: 0;
  position:sticky;
  z-index: 999;
  background: rgb(21,0,36);
  background: linear-gradient(90deg, rgba(21,0,36,1) 0%, rgba(153,23,172,1) 43%, rgba(255,85,0,1) 100%);
 

  
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
  padding-left: 100px;

}

.n-name {
  font-size: 2rem;
  /* margin-left: 3rem; */
  font-weight: bold;
  /* color: rgb(253, 156, 29); */
  background: linear-gradient(-45deg, #a80a66, #07c6df, #e2084a);
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
  -webkit-text-fill-color:black;
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 450;
  padding-right: 30;
  

}

.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  color: antiquewhite;
  
  
}

.link {
  text-decoration: none;
  
  color: currentColor;
}

.n-list > li :hover {
  color : rgb(224, 79, 205);
  cursor: pointer;
}



@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }

  
}



