.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  top: 0;
  
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
  padding-left: 30px;

}

.n-name {
  font-size: 2rem;
  
  font-weight: bold;
  color: rgb(253, 156, 29);
  
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 450;
  padding-right: 30;
  

}

.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 4rem;
  margin-right: 1rem;
  color: antiquewhite;
  
}

.link {
  text-decoration: none;
  
  color: currentColor;
}

.n-list > ul :hover {
  color : rgb(224, 79, 181);
  cursor: pointer;
}

.n-button {
  flex: 1;
    color: rgb(223, 93, 6);
    background: rgb(212, 170, 188);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(199,148,233,1) 100%);
    border-radius: 30px;
    border-color: antiquewhite;
    height:5vh;
    font-size: 16px;
    margin-top: 1em;
    margin-right: 2em;
 
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }

  
}



