.intro{
    display: flex;
    margin-top: 4rem;
    height: 80vh;
    margin-left: 2rem;
}
.i-left{
   
    display: flex;
    position: relative;
    
    flex: 1;
    text-align: center;
    gap: 2rem;
}
.img-intro-nft{
    
    display: flex;
    padding-left: 4rem;
    position: relative;

}


.i-right{
    /* text-align: center; */
    flex: 1;

}
.i-nftheading{
    display: flex;
    flex-direction: column;
    padding: 4rem;
}
.i-nftheading >:nth-child(1)
{
color: rgb(230, 236, 236);
font-size: 3rem;
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-top: 4rem;
}
.i-nftheading >:nth-child(2)
{
color:  rgb(253, 156, 29);
font-size: 3rem;
font-weight: bold;
font-family:serif;
}
.i-nftheading >:nth-child(3)
{
color:  rgb(20, 157, 221);
font-size: 3rem;
font-weight: bold;
font-family:serif;
}
.i-nftheading >:nth-child(4)
{
color: rgb(238, 244, 247);
font-size: 16px;
font-weight: 100;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 1rem;
}
.i-nftheading >:nth-child(5)
{
display: flex; 
margin-top: 1rem;

}
.btn-left{
    margin-left: 2rem;
}
.btn-left:hover {
    background: rgb(214, 13, 214);
    cursor: pointer;
  
  }