/* .footer {
   margin-bottom: 0em;
    display: flex;
    align-items: center;
    margin-left: 0,5rem;
    margin-right: 0,5rem;
    position: relative;
    padding-bottom: 0;
   
  } */
  .f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top:0;
   
    color: white;
  }
  .f-icons {
    display: flex;
    gap: 3rem;
  }
  .img-footer{
    width: 100%;
    display: flex;
  }
  
  @media screen and (max-width: 480px){
    .f-content{
      transform: scale(.5);
    }
  }