
  
  /* @media screen and (max-width: 480px){
    .f-content{
      transform: scale(.5);
    }
  } */ */



  .n-name {
    font-size: 2rem;
    
    font-weight: bold;
    /* color: rgb(253, 156, 29); */
    background: linear-gradient(-45deg, #a80a66, #07c6df, #e2084a);
    background-clip: text;
    -webkit-text-stroke: 4px transparent;
    -webkit-text-fill-color:black;
  }