:root{
  
    --boxShadow :0px 20px 24px 3px rgba(227, 234, 238, 0.42);
 
}


.App {
  text-align: center;
}

.button {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(199,148,233,1) 100%);
  box-shadow: 0px 20px 24px 3px rgba(227, 234, 238, 0.42);
  border-radius: 34px;
  border:antiquewhite;
  color: rgb(11 50 239);
  font-size: 12px;
  padding: 12px 20px 12px 20px;
  text-align: center;
  
  

}
.button:hover {
  background: rgb(214, 13, 214);
  cursor: pointer;

}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;

  }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
