@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 
  background: rgb(21,0,36);
  background: linear-gradient(90deg, rgba(21,0,36,1) 0%, rgba(153,23,172,1) 43%, rgba(255,85,0,1) 100%);
}
  


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
